In [1]:
import pandas as pd
import numpy

In [2]:
print (numpy.version.version)

1.21.1

In [3]:
# Reading Data:
df=pd.read_csv("heart.csv")
df.head()  #Loading the First Five Rows:

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
X=df.drop("output",axis=1)
y=df["output"]

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [6]:
from sklearn.feature_selection import mutual_info_classif
mutual_info=mutual_info_classif(X_train,y_train)
mutual_info

array([0.        , 0.00237535, 0.14188696, 0.        , 0.04861737,
       0.01279893, 0.01061099, 0.08535206, 0.11228638, 0.12633048,
       0.06757448, 0.08977261, 0.12344798])

In [7]:
mutual_info=pd.Series(mutual_info)
mutual_info.index=X_train.columns
mutual_info.sort_values(ascending=False)

cp          0.141887
oldpeak     0.126330
thall       0.123448
exng        0.112286
caa         0.089773
thalachh    0.085352
slp         0.067574
chol        0.048617
fbs         0.012799
restecg     0.010611
sex         0.002375
age         0.000000
trtbps      0.000000
dtype: float64

In [8]:
from sklearn.feature_selection import SelectKBest
sel_5_cols=SelectKBest(mutual_info_classif,5)
sel_5_cols.fit(X_train,y_train)
X_train.columns[sel_5_cols.get_support()]

C:\Users\m\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass k=5 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

Index(['cp', 'fbs', 'oldpeak', 'caa', 'thall'], dtype='object')

In [9]:
cols=['cp', 'exng', 'oldpeak', 'caa', 'thall','output']

In [10]:
df1=df[cols]
df1

     cp  exng  oldpeak  caa  thall  output
0     3     0      2.3    0      1       1
1     2     0      3.5    0      2       1
2     1     0      1.4    0      2       1
3     1     0      0.8    0      2       1
4     0     1      0.6    0      2       1
..   ..   ...      ...  ...    ...     ...
298   0     1      0.2    0      3       0
299   3     0      1.2    0      3       0
300   0     0      3.4    2      3       0
301   0     1      1.2    1      3       0
302   1     0      0.0    1      2       0

[303 rows x 6 columns]

In [11]:
X=df1.drop("output",axis=1)
y=df1["output"]

In [12]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=9)
model.fit(X_train,y_train)
print(metrics.classification_report(y_test,model.predict(X_test)))

              precision    recall  f1-score   support

           0       0.89      0.86      0.88        29
           1       0.88      0.91      0.89        32

    accuracy                           0.89        61
   macro avg       0.89      0.88      0.88        61
weighted avg       0.89      0.89      0.89        61

In [13]:
import pickle

In [14]:
filename="heart_attack.pkl"

In [15]:
pickle.dump(model, open(filename, 'wb'))