In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/stroke-prediction-dataset/healthcare-dataset-stroke-data.csv

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("/kaggle/input/stroke-prediction-dataset/healthcare-dataset-stroke-data.csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [4]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
df["bmi"].median()

28.1

In [6]:
df["bmi"]=df["bmi"].fillna(df["bmi"].mode()[0])

In [7]:
cat=df.select_dtypes(include="object").columns
cat

Index(['gender', 'ever_married', 'work_type', 'Residence_type',
       'smoking_status'],
      dtype='object')

In [8]:
df.drop(3116,inplace=True)

In [9]:
df["smoking_status"].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     884
smokes              789
Name: smoking_status, dtype: int64

## make data set ready for modelling:

In [10]:
cat

Index(['gender', 'ever_married', 'work_type', 'Residence_type',
       'smoking_status'],
      dtype='object')

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in cat:
    df[col] = le.fit_transform(df[col])

In [12]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,2,1,228.69,36.6,1,1
1,51676,0,61.0,0,0,1,3,0,202.21,28.7,2,1
2,31112,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,60182,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,1665,0,79.0,1,0,1,3,0,174.12,24.0,2,1

In [13]:
df.drop("id",axis=1,inplace=True)

In [14]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
1,0,61.0,0,0,1,3,0,202.21,28.7,2,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1

In [15]:
X=df.drop("stroke",axis=1)
y=df["stroke"]

## data is imbalanced:**

In [16]:
from imblearn.over_sampling import RandomOverSampler
os=RandomOverSampler()

In [17]:
X,y=os.fit_resample(X,y)

In [18]:
df1=pd.concat([X,y],axis=1)

In [19]:
df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
1,0,61.0,0,0,1,3,0,202.21,28.7,2,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
9715,1,78.0,0,0,1,3,1,116.10,27.1,2,1
9716,1,80.0,0,1,1,3,1,252.72,30.5,1,1
9717,0,71.0,0,0,1,3,1,195.71,34.1,1,1
9718,1,80.0,0,1,1,2,0,105.92,32.5,2,1
9719,1,59.0,0,0,1,2,0,211.78,28.7,1,1

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

from sklearn import metrics

from sklearn.neighbors import KNeighborsClassifier
model1=KNeighborsClassifier()
model1.fit(X_train,y_train)
y_pred=model1.predict(X_test)
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.86      0.93       970
           1       0.88      1.00      0.94       974

    accuracy                           0.93      1944
   macro avg       0.94      0.93      0.93      1944
weighted avg       0.94      0.93      0.93      1944

In [21]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(X_train,y_train)
y_pred=model1.predict(X_test)
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99       970
           1       0.99      1.00      0.99       974

    accuracy                           0.99      1944
   macro avg       0.99      0.99      0.99      1944
weighted avg       0.99      0.99      0.99      1944

## feature selection:

In [22]:
from sklearn.feature_selection import mutual_info_classif
mutual_info=mutual_info_classif(X_train,y_train)
mutual_info

array([0.        , 0.25914109, 0.02618319, 0.02173869, 0.0422236 ,
       0.0426697 , 0.        , 0.50233388, 0.2218061 , 0.01641889])

In [23]:
mutual_info=pd.Series(mutual_info)
mutual_info.index=X_train.columns
mutual_info.sort_values(ascending=False)

avg_glucose_level    0.502334
age                  0.259141
bmi                  0.221806
work_type            0.042670
ever_married         0.042224
hypertension         0.026183
heart_disease        0.021739
smoking_status       0.016419
gender               0.000000
Residence_type       0.000000
dtype: float64

In [24]:
from sklearn.feature_selection import SelectKBest
sel_5_cols=SelectKBest(mutual_info_classif,5)
sel_5_cols.fit(X_train,y_train)
X_train.columns[sel_5_cols.get_support()]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass k=5 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

Index(['age', 'ever_married', 'work_type', 'avg_glucose_level', 'bmi'], dtype='object')

In [25]:
cols=['age', 'ever_married', 'work_type', 'avg_glucose_level', 'bmi','stroke']

In [26]:
df2=df1[cols]
df2

       age  ever_married  work_type  avg_glucose_level   bmi  stroke
0     67.0             1          2             228.69  36.6       1
1     61.0             1          3             202.21  28.7       1
2     80.0             1          2             105.92  32.5       1
3     49.0             1          2             171.23  34.4       1
4     79.0             1          3             174.12  24.0       1
...    ...           ...        ...                ...   ...     ...
9715  78.0             1          3             116.10  27.1       1
9716  80.0             1          3             252.72  30.5       1
9717  71.0             1          3             195.71  34.1       1
9718  80.0             1          2             105.92  32.5       1
9719  59.0             1          2             211.78  28.7       1

[9720 rows x 6 columns]

In [27]:
X=df1.drop("stroke",axis=1)
y=df1["stroke"]

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

from sklearn import metrics

from sklearn.neighbors import KNeighborsClassifier
model1=KNeighborsClassifier()
model1.fit(X_train,y_train)
y_pred=model1.predict(X_test)
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.86      0.93       970
           1       0.88      1.00      0.94       974

    accuracy                           0.93      1944
   macro avg       0.94      0.93      0.93      1944
weighted avg       0.94      0.93      0.93      1944

In [29]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(X_train,y_train)
y_pred=model1.predict(X_test)
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99       970
           1       0.99      1.00      0.99       974

    accuracy                           0.99      1944
   macro avg       0.99      0.99      0.99      1944
weighted avg       0.99      0.99      0.99      1944